<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deepak Portfolio</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <!-- NAVBAR -->
    <nav class="navbar">
        <div class="logo">Deepak Codez</div>

        <ul class="nav-links" id="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>

        <div class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init();</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>

    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <!-- Tilt.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js"></script>


    <!-- FOOTER -->
<footer class="footer">
    <div class="footer-container">

        <p class="footer-text">© 2025 Deepak Yadav | All Rights Reserved</p>

        <div class="social-links">
            <a href="https://github.com/DeepakYadav-codez" target="_blank">
                <img src="{{ url_for('static', filename='icons/github.svg') }}" alt="GitHub">
            </a>

            <a href="https://www.instagram.com/dy_1357?igsh=MTQxZmptdGtoZWV6bA==" target="_blank">
                <img src="{{ url_for('static', filename='icons/instagram.svg') }}" alt="Instagram">
            </a>

            <a href="https://www.linkedin.com/in/deepak-yadav-b076a82a7" target="_blank">
                <img src="{{ url_for('static', filename='icons/linkedin.svg') }}" alt="LinkedIn">
            </a>
        </div>

    </div>
</footer>


</body>
</html>
