{% extends "base.html" %}
{% block content %}

<section class="resume-section">

    <h1 class="resume-title" data-aos="fade-up">My Resume</h1>

    <p class="resume-subtitle" data-aos="fade-up" data-aos-delay="150">
        Here is my professional resume. You can view or download it below.
    </p>

    <div class="resume-card" data-aos="zoom-in">

        <h2 class="resume-filename">Deepak_Yadav_Resume.pdf</h2>

       <a class="resume-download-btn" href="/download">
    Download Resume
</a>


    </div>

</section>

{% endblock %}
